# # The Python Programming Language: Numerical Python (NumPy)

In [3]:
import numpy as np


## Creating Arrays

Create a list and convert it to a numpy array

In [4]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

array([1, 2, 3])

<br>
Or just pass in a list directly

In [5]:
y = np.array([4, 5, 6])
y

array([4, 5, 6])

<br>
Pass in a list of lists to create a multidimensional array.

In [5]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

<br>
Use the shape method to find the dimensions of the array. (rows, columns)

In [6]:
m.shape

(2, 3)

<br>
`arange` returns evenly spaced values within a given interval.

In [7]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

<br>
`reshape` returns an array with the same data with a new shape.

In [8]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

<br>
`linspace` returns evenly spaced numbers over a specified interval.

In [9]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

<br>
`resize` changes the shape and size of array in-place.

In [10]:
o.resize(3, 3)
o

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

<br>
`ones` returns a new array of given shape and type, filled with ones.

In [11]:
np.ones((3, 2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

<br>
`zeros` returns a new array of given shape and type, filled with zeros.

In [12]:
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

<br>
`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

In [14]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

<br>
`diag` extracts a diagonal or constructs a diagonal array.

In [17]:
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

In [18]:
y

array([4, 5, 6])

<br>
Create an array using repeating list (or see `np.tile`)

In [19]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

<br>
Repeat elements of an array using `repeat`.

In [20]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

#### Combining Arrays

In [23]:
p = np.ones([2, 3],int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [25]:
q = np.ones([2, 3])
q

array([[1., 1., 1.],
       [1., 1., 1.]])

<br>
Use `vstack` to stack arrays in sequence vertically (row wise).

In [29]:
np.vstack([p, 2*p])

array([[1., 1., 1.],
       [1., 1., 1.],
       [2., 2., 2.],
       [2., 2., 2.]])

<br>
Use `hstack` to stack arrays in sequence horizontally (column wise).

In [30]:
np.hstack([p, 2*p])

array([[1., 1., 1., 2., 2., 2.],
       [1., 1., 1., 2., 2., 2.]])

## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

In [9]:
print("x : " ,x)
print("y : " ,y)

x :  [1 2 3]
y :  [4 5 6]

In [11]:
print("x + y = ", x + y)               # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print("x - y = " , x - y)              # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]

print("x * y = " , x * y)              # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print("x / y = " , x / y)              # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

print("x ** 2 = " , x ** 2)            # elementwise power  [1 2 3] ^2 =  [1 4 9]

x + y =  [5 7 9]
x - y =  [-3 -3 -3]
x * y =  [ 4 10 18]
x / y =  [0.25 0.4  0.5 ]
x ** 2 =  [1 4 9]

### Dot Product:

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [13]:
print("x : " ,x)
print("y : " ,y)

x :  [1 2 3]
y :  [4 5 6]

In [12]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

32

In [25]:
z = np.array([y, y**2])
print("z : ",z)
print("\n length of z :" ,len(z))            # number of rows of array

z :  [[ 4  5  6]
 [16 25 36]]

 length of z : 2

##### Let's look at transposing arrays. Transposing permutes the dimensions of the array.

In [26]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

<br>
The shape of array `z` is `(2,3)` before transposing.

In [27]:
z.shape

(2, 3)

Use `.T` to get the transpose.

In [31]:
a = z.T
a

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [32]:
a.shape

(3, 2)

<br>
Use `.dtype` to see the data type of the elements in the array.

In [34]:
z.dtype

dtype('int32')

<br>
Use `.astype` to cast to a specific type.

In [37]:
z = z.astype('f')
z.dtype

dtype('float32')

In [38]:
z = z.astype('float')
z.dtype

dtype('float64')

In [39]:
z = z.astype('i')
z.dtype

dtype('int32')

In [40]:
z = z.astype('int')
z.dtype

dtype('int32')

## Math Functions

Numpy has many built in math functions that can be performed on arrays.

In [42]:
a = np.array([-4, -2, 1, 3, 5])
a

array([-4, -2,  1,  3,  5])

In [43]:
a.sum()

3

In [45]:
a.min()

-4

In [47]:
a.max()

5

In [48]:
a.mean()

0.6

In [49]:
a.std()

3.2619012860600183

<br>
`argmax` and `argmin` return the index of the maximum and minimum values in the array.

In [50]:
a.argmax()

4

In [51]:
a.argmin()

0

## Indexing / Slicing

In [52]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144],
      dtype=int32)

###### Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [53]:
s[0], s[4], s[-1]

(0, 16, 144)

<br>

###### Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [54]:
s[1:5]

array([ 1,  4,  9, 16], dtype=int32)

In [55]:
s[:]

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144],
      dtype=int32)

<br>

###### Use negatives to count from the back.

In [56]:
s[-4:]

array([ 81, 100, 121, 144], dtype=int32)

<br>

###### A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [59]:
s[-5::-2]

array([64, 36, 16,  4,  0], dtype=int32)

In [60]:
s[-5::2]

array([ 64, 100, 144], dtype=int32)

<br>
Let's look at a multidimensional array.

In [61]:
r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

<br>
Use bracket notation to slice: `array[row, column]`

In [62]:
r[2, 2]

14

<br>
And use : to select a range of rows or columns

In [63]:
r[3, 3:6]

array([21, 22, 23])

In [64]:
r[3:5, 3:6]

array([[21, 22, 23],
       [27, 28, 29]])

<br>
Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

In [66]:
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [65]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

<br>
This is a slice of the last row, and only every other element.

In [67]:
r[-1, ::2]

array([30, 32, 34])

<br>
We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [70]:
r[r > 30]

array([31, 32, 33, 34, 35])

<br>
Here we are assigning all values in the array that are greater than 30 to the value of 0.

In [71]:
r[r > 30] = 0
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30,  0,  0,  0,  0,  0]])

<br>

## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [72]:
r2 = r[:3,:3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])


###### Set this slice's values to zero ([:] selects the entire array)

In [73]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

<br>
`r` has also been changed!

In [75]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30,  0,  0,  0,  0,  0]])


###### To avoid this, use `r.copy` to create a copy that will not affect the original array

In [76]:
r_copy = r.copy()
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30,  0,  0,  0,  0,  0]])

<br>
Now when r_copy is modified, r will not be changed.

In [77]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30  0  0  0  0  0]]

<br>

### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.

In [78]:
test = np.random.randint(0, 10, (4,3))
test

array([[6, 4, 2],
       [5, 8, 9],
       [1, 1, 9],
       [6, 1, 9]])

<br>
Iterate by row:

In [79]:
for row in test:
    print(row)

[6 4 2]
[5 8 9]
[1 1 9]
[6 1 9]

<br>
Iterate by index:

In [80]:
for i in range(len(test)):
    print(test[i])

[6 4 2]
[5 8 9]
[1 1 9]
[6 1 9]

<br>
Iterate by row and index:

In [81]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [6 4 2]
row 1 is [5 8 9]
row 2 is [1 1 9]
row 3 is [6 1 9]

<br>
Use `zip` to iterate over multiple iterables.

In [82]:
test2 = test**2
test2

array([[36, 16,  4],
       [25, 64, 81],
       [ 1,  1, 81],
       [36,  1, 81]], dtype=int32)

In [83]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)

[6 4 2] + [36 16  4] = [42 20  6]
[5 8 9] + [25 64 81] = [30 72 90]
[1 1 9] + [ 1  1 81] = [ 2  2 90]
[6 1 9] + [36  1 81] = [42  2 90]